/*--------------------------------------------------------
------------- DIANSLEY FERNANDES DE LIMA -----------------
----------------------------------------------------------
------------------- ESTRUTURA BASE -----------------------
----------------------------------------------------------

**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** HEADER
**** PÁGINA INICIAL
**** FOOTER
**** EXTRAS
**** @MEDIA


----------------------------------------------------------
------------------DECLARAÇÃO VARIÁVEIS--------------------
----------------------------------------------------------
 */



/* 
----------------------------------------------------------
---------------------ESTILOS GERAIS-----------------------
---------------------------------------------------------- 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


/* 
----------------------------------------------------------
--------------------------BODY----------------------------
---------------------------------------------------------- 
*/

body {
    background-color: black;
    font-family: 'sans-serif', Arial;
}

h1 {
    margin: 20px;
    text-align: center;
    color: white;
    font-size: 50px;
    text-shadow: 0 0 30px rgb(25, 252, 4);
}

.container {
    border: 5px solid white;
    padding: 15px;
    margin: 80px auto;
    box-shadow: 0 0 40px rgb(25, 252, 4);
    height: 70%;
    width: 70%;
}

.entradas {
    background-image: url(/assets/img/balanca.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    padding: 30px;
    width: 100%;
    align-items: center;
}

.entradas p {
    font-size: 30px;
}

.container-calculadora-peso, .container-calculadora-altura {
    margin: 16px 30px;
    width: 30%;
    color: black;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.medidas {
    font-size: 25px;
    margin-left: 10px;
}

.input-number {
    height: 40px;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 15px;
    font-size: 24px;
}

.container .botao-calcular {
    font-size: 24px;
    width: 100%;
    padding: 15px;
    background-color: rgb(33, 33, 33);
    color: white;
    cursor: pointer;
}

.container .botao-calcular:hover {
    background-color: black;
    color: rgb(25, 252, 4);
    transition: 0.8s;
}

#resultadoIMC {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 30px;
    padding: 0 auto 30px auto;
}



/* 
----------------------------------------------------------
-------------------------HEADER---------------------------
---------------------------------------------------------- 
*/



/* 
----------------------------------------------------------
---------------------PÁGINA INICIAL-----------------------
---------------------------------------------------------- 
*/



/* 
----------------------------------------------------------
-------------------------FOOTER---------------------------
---------------------------------------------------------- 
*/



/* 
----------------------------------------------------------
-------------------------EXTRAS---------------------------
---------------------------------------------------------- 
*/



/* 
----------------------------------------------------------
-------------------------@MEDIA---------------------------
---------------------------------------------------------- 
*/


@media screen and (max-width: 850px) {

    .container-calculadora-peso, .container-calculadora-altura {
        margin: 5px 5px;
        width: 100%;
        color: black;
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #resultadoIMC {
        padding: 0 10px;
        margin-bottom: 30px;
    }

}


@media screen and (max-width: 360px) {

h1 {
    font-size: 25px;
}

.entradas p{
    font-size: 20px;
}

.medidas {
    font-size: 15px;
    margin: 3px;
}

.input-number {
    height: 30px;
    width: 80px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 15px;
}

.container .botao-calcular {
    font-size: 18px;
}

#resultadoIMC {
    font-size: 20px;
}

}


@media screen and (max-width: 280px) {

    .container .botao-calcular {
        font-size: 13px;
    }

}